#
# Required packages to run Calorine
#
Django>=1.4
django-registration
django-tastypie
python-memcached
django-haystack
whoosh
mutagen
#
#  following package are for running tests
#
nosexcover
django-nose
pep8
flake8
#
#  If you use jenkins you can add
#
django-jenkins
gcovr
