{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}
<div id="container" class="container">
    <div class="row">
      <div class="span12">
        {% include "pager.html" %}
	  <table class="table table-striped">
	    <thead>
	      <tr>
		<th>Fichier</th>
		<th>Date</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for error in errors %}
	      <tr>
		<td>{{error.filename}}</td>
		<td>{{error.date_import}}</td>
	      </tr>
	      <tr>
		<td colspan="2">{{error.message}}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>

      </div><!--/row-->
    </div><!--/row-->
  </div><!--/.container-->
  {% include "footer.html" %}
