{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}
<div id="container" class="container">
  <div class="row">
    <div class="span12">
      {% include "pager.html" %}
      
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th class="span2"><span class="result"></span></th>
	    <th class="span3">Titre</th>
	    <th class="span2">Artiste</th>
	    <th class="span4">Album</th>
	    <th>Joué</th>
	  </tr>
	</thead>
	<tbody>
	  {% for song in songs %}
	  <tr>
	    <td>
	      {% if song.song.vote %}
	      <a class="btn btn-mini disabled btn_{{song.song.id}}" href="#">Playlist</a>
	      {% else %}
	      <a class="btn btn-mini btn-primary btn_{{song.song.id}}" href="#" onclick="add_to_playlist({{song.song.id}})">Playlist</a>
	      {% endif %}
	    </td>
	    <td>{{song.song.title}}</td>
	    <td>{{song.song.artist}}</td>
	    <td>{{song.song.album}}</td>
	    <td>{{song.date_played|date:"H:i d/b"}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      
    </div><!--/row-->
  </div><!--/row-->
  
</div><!--/.container-->
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
{% include "footer.html" %}
