{% load i18n %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="{{prefix_url}}/">Calorine</a>

      <form class="navbar-search pull-left" action="/songs/">
	<input type="text" class="search-query" name="q" placeholder="You're looking to me ?">
      </form>
     
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/">Playlist</a></li>
          <li><a href="/songs/">Chansons</a></li>
          <li><a href="/history/">Historique</a></li>
          <li><a href="/uploads/">Uploads</a></li>
          <li><a href="/stars/">Stats</a></li>
        </ul>

        <p class="navbar-text pull-right">
	    {% if user.is_authenticated %}
	    Salut à toi <a href="/accounts/profile/">{{ user.username }}</a> /
	    <a href="/accounts/logout/">Déconnexion</a>
	    {% else %}
	    <a href="/accounts/login/">log in</a>
	    {% endif %}
	</p>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </div><!--/.navbar-inner -->
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
	<div class="span12">
	  <h3 id="onair">On air : {{ ONAIR_FULL }}</h3>
	  <h3 id="onairbuttons">
	    <a id="onairplus" class="btn-mini btn-success" onclick="inc_onair(0); return false" href="#" style="visibility: hidden">Encore</a>
	    <a id="onairstop" class="btn-mini btn-danger" onclick="dec_onair(0); return false" href="#" style="visibility: hidden">Stop</a>
	  </h3>
	</div>
      </div>
    </div>
  </div>
</div><!--/.navbar -->
