{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}
<div id="container" class="container">
  <div class="row">
    <div class="span12">
      <div id="message"></div>
      {% include "paginator.html" %}
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th class="span2"></th>
	    <th class="span4">Titre</th>
	    <th class="span3">Artiste</th>
	    <th class="span4">Album</th>
	    <th>Vote</th>
	  </tr>
	</thead>
	<tbody>
	  {% for song in songs %}
	  <tr>
	    <td class="{{song.pk}}">
              {% if song.vote %}
              <span class="label label-info">A voté !</span>
	      {% else %}
	      <a class="btn-mini btn-success {{song.pk}}" onclick="inc_playlist({{song.id}}); return false" href="#">Encore</a>
	      <a class="btn-mini btn-danger {{song.pk}}" onclick="dec_playlist({{song.id}}); return false" href="#">Stop</a>
              {% endif %}
	    </td>
	    <td>{{song.song.title}}</td>
	    <td>{{song.song.artist}}</td>
	    <td>{{song.song.album}}</td>
	    <td><span class="badge badge-info span_{{song.pk}}">{{song.score}}</span></td>
	  </tr>
	  
	  {% endfor %}
	</tbody>
      </table>
            
    </div><!--/row-->
  </div><!--/row-->
  
</div><!--/.container-->
{% include "footer.html" %}
