{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}
<div id="container" class="container">

  <div class="row">
    <div class="span6">
      <div>
	Salut {{user.first_name}}
      </div>

      <div>
	<form name="upload" method="POST" enctype="multipart/form-data" action="/upload/?X-Progress-ID={{uuid}}">
	  {% csrf_token %}
	  <input type="file" name="songname" size="40">
	  <input type="submit" name="submit" value="Upload">
	  <input type="hidden" name="test" value="value">
	</form>
      </div>

    </div>
    <div class="span6">
      <h4>Streams</h4>
      
      <table class="table table-striped">
	<tbody>
	  {% for stream in streams %}
	  <tr>
	    <td><a href="{{stream.url}}">{{stream.url}}</a></td>
	  </tr>
	  <tr>
	    <td>
	      <audio src="{{stream.url}}" controls preload> </audio>
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
      
      <h4>Derniers imports</h4>
      
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>Titre</th>
	    <th>Artiste</th>
	    <th>Album</th>
	  </tr>
	</thead>
	<tbody>
	  {% for song in songs %}
	  <tr>
	    <td>
	      {% if song.vote %}
	      <a class="btn btn-mini disabled btn_{{song.id}}" href="#">Playlist</a>
	      {% else %}
	      <a class="btn btn-mini btn-primary btn_{{song.id}}" href="#" onclick="add_to_playlist({{song.id}})">Playlist</a>
	      {% endif %}
	    </td>
	    <td>{{song.title}}</td>
	    <td>{{song.album}}</td>
	    <td>{{song.artist}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>

      <h4>Prochains titres de la playlist</h4>

      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>Titre</th>
	    <th>Artiste</th>
	    <th>Album</th>
	  </tr>
	</thead>
	<tbody>
	  {% for song in ples %}
	  <tr>
	    <td>
	      {% if song.song.vote %}
	      <a class="btn btn-mini disabled btn_{{song.song.id}}" href="#">Playlist</a>
	      {% else %}
	      <a class="btn btn-mini btn-primary btn_{{song.song.id}}" href="#" onclick="add_to_playlist({{song.song.id}})">Playlist</a>
	      {% endif %}
	    </td>
	    <td>{{song.song.title}}</td>
	    <td>{{song.song.album}}</td>
	    <td>{{song.song.artist}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
          
    </div><!--/row-->
  </div><!--/row-->

</div><!--/.container-->
{% include "footer.html" %}
