{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}
<div class="container">
    <div class="row">
      <div class="span12">
	<div>
	  Salut {{user.first_name}}
	</div>

	<h4>Prochains titres</h4>


	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Titre</th>
	      <th>Artiste</th>
	      <th>Album</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for song in songs %}
	    <tr>
	      <td>{{song.song.title}}</td>
	      <td>{{song.song.album}}</td>
	      <td>{{song.song.artist}}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>

      </div><!--/row-->
    </div><!--/row-->

</div><!--/.container-->
{% include "footer.html" %}
