{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}
<div id="container" class="container">
  <div class="row">
    <div class="span12">
      {% include "pager.html" %}
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th class="span1"><span class="result"></span></th>
	    <th class="span3">Titre</th>
	    <th class="span3">Artiste</th>
	    <th class="span3">Album</th>
	    <th class="span1">P / S</th>
	  </tr>
	</thead>
	<tbody>
	  {% for song in songs %}
	  <tr>
	    <td>
	      {% if song.vote %}
	      <a class="btn btn-mini disabled btn_{{song.id}}" href="#">Playlist</a>
	      {% else %}
	      <a class="btn btn-mini btn-primary btn_{{song.id}}" href="#" onclick="add_to_playlist({{song.id}})">Playlist</a>
	      {% endif %}
	    </td>
	    <td>{{song.title}}</td>
	    <td>{{song.artist}}</td>
	    <td>{{song.album}}</td>
	    <td>
	      <span class="badge">{{song.played}}</span> 
	      <span class="badge badge-success">{{song.global_score}}</span>
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
            
    </div><!--/row-->
  </div><!--/row-->
</div><!--/.container-->
{% include "footer.html" %}
