{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}
<div id="container" class="container">
  <div class="row">
    <div class="span12">
      {% include 'menu_stats.html' %}
      <table class="table table-striped">
	<thead>
	  <th>Qui</th>
	  <th>Vote</th>
	  <th class="span6">Ratio</th>
	</thead>
	<tbody>
	  {% for star in stars %}
	  <tr>
	    <td>{{star.ouser.username}}</td>
	    <td>{{star.dcount}}</td>
	    <td>
	      <div class="progress progress-info">
		<div class="bar" style="width: {{star.percent}}%"></div>
	      </div>
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
            
    </div><!--/row-->
  </div><!--/row-->
</div><!--/.container-->
{% include "footer.html" %}
