{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}
<div id="container" class="container">

  <div class="row">
    <div class="span12">
      <div>
	Salut {{user.first_name}}
      </div>

      <div>
	<form name="upload" method="POST" enctype="multipart/form-data" action="/upload/?X-Progress-ID={{uuid}}">
	  {% csrf_token %}
	  <input type="file" name="songname" size="40">
	  <input type="submit" name="submit" value="Upload">
	</form>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="span12">
      <table class="table table-striped">
	<tbody>
	  {% for upload in uploads %}
	  <tr>
	    <td>{{upload.id}}</td>
	    <td>{{upload.filename}}</td>
	    <td>{{upload.path}}</td>
	    <td>{{upload.content_type}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
          
    </div><!--/row-->
  </div><!--/row-->

</div><!--/.container-->
{% include "footer.html" %}
